<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    
    
      
        <f:if condition="{settings.listTemplate} == 'countdown'">
            <f:then>
            <div class="section_heading">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h2 class="heading_text mb-0 wow" data-splitting>{settings.listHeadline}</h2>
              </div>
              <div class="col-lg-6">
                <div class="deals_countdown d-flex justify-content-lg-end">
                  <ul class="countdown_timer unordered_list" data-countdown="{settings.countdownDate | f:format.date(format: 'Y/m/d')}"></ul>
                </div>
              </div>
            </div>
          </div>
            </f:then>
            <f:else>
                <!-- Filter & Search -->
         <div class="row mb-0">
             <div class="col-12">
                   
                        <f:form action="list" controller="Product" method="post" class="row g-3 align-items-end">
                             <f:if condition="{settings.showCategoryFilter}">
                                 <div class="col-12 col-md-6 col-lg-3">
                                     
                                     <f:form.select name="category" id="category" options="{categories}" optionLabelField="title" optionValueField="uid" prependOptionLabel="Alle Kategorien" prependOptionValue="0" value="{selectedCategory}" class="form-select" />
                                 </div>
                             </f:if>

                             <f:if condition="{settings.showManufacturerFilter}">
                                 <div class="col-12 col-md-6 col-lg-3">
                                     
                                     <f:form.select name="manufacturer" id="manufacturer" options="{manufacturers}" optionLabelField="title" optionValueField="uid" prependOptionLabel="Alle Hersteller" prependOptionValue="0" value="{selectedManufacturer}" class="form-select" />
                                 </div>
                             </f:if>

                             <f:if condition="{settings.showSortByFilter}">
                                 <div class="col-12 col-md-6 col-lg-3">
                                     <f:form.select name="sortBy" id="sortBy" options="{sortOptions}" value="{selectedSort}" class="form-select" />
                                 </div>
                             </f:if>

                             <f:if condition="{settings.showCategoryFilter} || {settings.showManufacturerFilter} || {settings.showSortByFilter}">
                                 <div class="col-12 col-md-6 col-lg-3">
                                     <button type="submit" class="btn btn-primary w-100">
                                         <i class="bi bi-funnel"></i> Filtern
                                     </button>
                                 </div>
                             </f:if>

                   <f:if condition="{selectedCategory} || {selectedManufacturer}">
                       <div class="col-12">
                           <f:link.action action="list" controller="Product" arguments="{category: 0, manufacturer: 0}" class="btn btn-outline-secondary">Alle anzeigen</f:link.action>
                       </div>
                   </f:if>
                   </f:form>
                        <f:comment>
                        <form method="post" action="" class="row mt-3">
                            <div class="col-12 col-md-8">
                                <f:form.textfield name="search" placeholder="Produkt suchen..." class="form-control" />
                            </div>
                            <div class="col-12 col-md-4">
                                <button type="submit" class="btn btn-secondary w-100">
                                    <i class="bi bi-search"></i> Suchen
                                </button>
                            </div>
                        </form>
                        </f:comment>
                    
                
            </div>
        </div>
            </f:else>
        </f:if>
        

        <!-- Products -->
         <f:if condition="{products}">
             <f:then>
                 <!-- Template Selection: Default -->
                 <f:if condition="{settings.listTemplate} == 'default'">
                     <f:render partial="Product/ListDefault" arguments="{products: products, settings: settings, detailPid: detailPid, cartPid: cartPid}" />
                 </f:if>

                 <!-- Template Selection: Compact -->
                 <f:if condition="{settings.listTemplate} == 'compact'">
                     <f:render partial="Product/ListCompact" arguments="{products: products, settings: settings, detailPid: detailPid, cartPid: cartPid}" />
                 </f:if>

                 <!-- Template Selection: Detailed -->
                 <f:if condition="{settings.listTemplate} == 'detailed'">
                     <f:render partial="Product/ListDetailed" arguments="{products: products, settings: settings, detailPid: detailPid, cartPid: cartPid}" />
                 </f:if>

                 <!-- Template Selection: Compact -->
                 <f:if condition="{settings.listTemplate} == 'countdown'">
                     <f:render partial="Product/ListCountdown" arguments="{products: products, settings: settings, detailPid: detailPid, cartPid: cartPid}" />
                 </f:if>
                 <div class="row">
                     <div class="col-12">
                         <f:render partial="Pagination" arguments="{pagination: pagination, action: 'list', arguments: {category: selectedCategory, sortBy: selectedSort}}" />
                     </div>
                 </div>
             </f:then>
            <f:else>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Keine Produkte gefunden</h4>
                            <p>Versuchen Sie, die Filter anzupassen oder ein anderes Suchkriterium zu verwenden.</p>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    
</f:section>

</html>
