<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <div class="container-fluid">
      

        <!-- Filter & Search -->
        <div class="row mb-0">
            <div class="col-12">
                
                   
                        <form method="post" action="" class="row g-3 align-items-end">
                            <div class="col-12 col-md-6 col-lg-3">
                                
                                <f:form.select name="category" id="category" options="{categories}" optionLabelField="title" optionValueField="uid" prependOptionLabel="Alle Kategorien" prependOptionValue="0" value="{selectedCategory}" class="form-select" />
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                
                                <f:form.select name="manufacturer" id="manufacturer" options="{manufacturers}" optionLabelField="title" optionValueField="uid" prependOptionLabel="Alle Hersteller" prependOptionValue="0" value="{selectedManufacturer}" class="form-select" />
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                
                                <f:form.select name="sortBy" id="sortBy" options="{sortOptions}" value="{selectedSort}" class="form-select" />
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="bi bi-funnel"></i> Filtern
                                </button>
                            </div>

                            <f:if condition="{selectedCategory} || {selectedManufacturer}">
                                <div class="col-12">
                                    <f:link.page class="btn btn-outline-secondary">Alle anzeigen</f:link.page>
                                </div>
                            </f:if>
                        </form>
                        <f:comment>
                        <form method="post" action="" class="row mt-3">
                            <div class="col-12 col-md-8">
                                <f:form.textfield name="search" placeholder="Produkt suchen..." class="form-control" />
                            </div>
                            <div class="col-12 col-md-4">
                                <button type="submit" class="btn btn-secondary w-100">
                                    <i class="bi bi-search"></i> Suchen
                                </button>
                            </div>
                        </form>
                        </f:comment>
                    
                
            </div>
        </div>

        <!-- Products -->
        <f:if condition="{products}">
            <f:then>
                <div class="row g-4 mb-4">
                    <f:for each="{products}" as="product">
                        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                            <f:render partial="Product/Card" arguments="{product: product, detailPid: detailPid, cartPid: cartPid}" />
                        </div>
                    </f:for>
                </div>

                <div class="row">
                    <div class="col-12">
                        <f:render partial="Pagination" arguments="{pagination: pagination, action: 'list', arguments: {category: selectedCategory, sortBy: selectedSort}}" />
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Keine Produkte gefunden</h4>
                            <p>Versuchen Sie, die Filter anzupassen oder ein anderes Suchkriterium zu verwenden.</p>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
