<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{pagination.numberOfPages} > 1">
    <nav class="pagination_wrap" aria-label="Seitennavigation">
        <ul class="pagination_nav unordered_list">
            <f:if condition="{pagination.previousPage}">
                <li class="">
                    <f:link.action action="{action}" arguments="{currentPage: pagination.previousPage}" class="">
                        <i class="bi bi-chevron-left"></i>
                    </f:link.action>
                </li>
            </f:if>

            <f:for each="{pagination.pages}" as="page">
                
                    <f:if condition="{page.isCurrent}">
                        <f:then>
                            <li class="active">
                            <a href="#!">{page.number}</a>
                            </li>
                        </f:then>
                        <f:else>
                            <li>
                            <f:link.action action="{action}" arguments="{currentPage: page.number}" class="">
                                {page.number}
                            </f:link.action>
                            </li>
                        </f:else>
                    </f:if>
               
            </f:for>

            <f:if condition="{pagination.nextPage}">
                <li class="">
                    <f:link.action action="{action}" arguments="{currentPage: pagination.nextPage}" class="">
                       <i class="bi bi-chevron-right"></i>
                    </f:link.action>
                </li>
            </f:if>
        </ul>
    </nav>
</f:if>

</html>
