<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <div class="container-lg py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h2 m-0">Hersteller</h1>
            <f:link.action action="newManufacturer" class="btn btn-success">+ Neuer Hersteller</f:link.action>
        </div>

        <f:if condition="{manufacturers}">
            <f:then>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>Name</th>
                                <th>Website</th>
                                <th>Beschreibung</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{manufacturers}" as="manufacturer">
                                <tr>
                                    <td><strong>{manufacturer.title}</strong></td>
                                    <td>
                                        <f:if condition="{manufacturer.website}">
                                            <a href="{manufacturer.website}" target="_blank">{manufacturer.website -> f:format.crop(maxCharacters: 30)}</a>
                                        </f:if>
                                    </td>
                                    <td>{manufacturer.description -> f:format.crop(maxCharacters: 50)}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            <f:link.action action="editManufacturer" arguments="{manufacturer: manufacturer}" class="btn btn-primary">
                                                Bearbeiten
                                            </f:link.action>
                                            <f:link.action action="deleteManufacturer" arguments="{manufacturer: manufacturer}" class="btn btn-danger" onclick="return confirm('Wirklich löschen?')">
                                                Löschen
                                            </f:link.action>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:then>
            <f:else>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Keine Hersteller vorhanden</h4>
                    <p class="mb-0">
                        <f:link.action action="newManufacturer" class="btn btn-success btn-sm">+ Ersten Hersteller erstellen</f:link.action>
                    </p>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
